<div class="main-container">
    <div id="side-bar">
        <ul class="menu-items">
            <li>Overview</li>
            <li>Diet Plan</li>
            <li>Goals</li>
            <li>Daily Input</li>
        </ul>

        <div class="bottom">
            <div class="user-sec">
                <span>{{userData.name?.S}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path d="M24 296l0-80 80 0 0 80-80 0zm160 0l0-80 80 0 0 80-80 0zm160-80l80 0 0 80-80 0 0-80z"/></svg>
            </div>
        </div>
    </div>

    <div id="main-body">
        <router-outlet></router-outlet>
    </div>
</div>